/*start of my portfolio*/
:root {
    --color-2: #FF0101;
    --color-1: #FF6400;
  }
  /*table*/
  #languages-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  #languages-table th,
  #languages-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  #languages-table th {
    background-color: green;
    color: white;
  }
  
  #languages-table img {
    width: 50px;
    height: 50px;
  }
  
  #languages-table button {
    background-color: blue;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #languages-table button:hover {
    background-color: lightblue;
  }
  
  .a_editar {
    text-decoration: none;
    color: white;
    font-size: 15px;
  
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  
  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2B2B2B;
    z-index: 9999;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px;
    flex-flow: row wrap;
  }
  
  .header_title {
    display: flex;
    width: 35%;
    font-size: 1.2em;
  }
  
  .header_title h1 {
    margin: 0;
  }
  
  .header_title a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
  }
  
  .title_p {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, var(--color-1), var(--color-2));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
  
  }
  
  .header_nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }
  
  .header_nav li {
    margin: 0 10px;
  }
  
  .header_a {
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .header_a:hover {
    background-image: linear-gradient(to right, var(--color-1), var(--color-2));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  .icon {
    font-size: 1em;
    color: white;
    display: none;
  }
  
  .nav_responsive {
    display: none;
  }
  
  /* Cambio de color al hacer scroll */
  .header_a_scroll {
    background-image: linear-gradient(to right, var(--color-1), var(--color-2));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  /* Estilos para las secciones */
  section:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #0027FF, #00FF1B, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: gradient 15s ease infinite;
    -moz-animation: gradient 15s ease infinite;
    animation: gradient 15s ease infinite;
  }
  
  @-webkit-keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  @-moz-keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  /*Section 1*/
  .section_content {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .div_main {
    width: 100%;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content_me {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .small_me {
    display: block;
    position: relative;
    letter-spacing: 1px;
    font-size: 1.8em;
    color: white;
    padding: 0;
    margin: 0;
    user-select: none;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .title_me {
    display: block;
    font-weight: 700;
    font-size: 4.5em;
    color: white;
    letter-spacing: 2px;
    padding: 10px 0;
    margin: 0;
    user-select: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .maquina_p {
    display: block;
    font-size: 3em;
    color: white;
    padding: 0 3px;
    margin: 0;
    user-select: none;
  
  }
  
  .maquina {
    background-image: linear-gradient(to right, var(--color-1), var(--color-2));
    -webkit-background-clip: text;
    letter-spacing: 2px;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
  
  }
  
  .btns {
    width: 100%;
    position: relative;
  }
  
  .btns button {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 400;
    color: white;
    background-image: linear-gradient(to right, #8F01FF, #FF7C01);
    padding: 0.5em;
    margin: 20px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
  }
  
  .btns button:hover {
    background-image: linear-gradient(to right, var(--color-1), var(--color-2));
  }
  
  .btns a {
  
    color: white;
    text-decoration: none;
  }
  
  .content_img {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .content_img img {
    position: relative;
    height: 100%;
    width: 80%;
    top: 10px;
    right: -10px;
    transform: rotateY(180deg);
    animation: animateuser 4s linear infinite;
    border-radius: 2em;
  }
  
  @keyframes animateuser {
    50% {
      right: 0px;
      top: 0px;
    }
  }
  
  /*Content profile*/
  .div_profile {
    width: 100%;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content_profile {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #cccccc;
    opacity: 0.8;
    padding: 16px;
    color: black;
    border-radius: 2em;
  }
  
  .content_profile h2 {
    font-size: 2.3em;
    font-weight: bold;
    margin-bottom: 16px;
    background-image: linear-gradient(to right, var(--color-1), var(--color-2));
    -webkit-background-clip: text;
    letter-spacing: 2px;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  .content_profile p {
    font-size: 1.8em;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    letter-spacing: 0.2px;
  
  }
  
  .profile_responsive {
    display: none;
  }
  
  .content_img_profile {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .content_img_profile img {
    position: relative;
    height: 100%;
    width: 80%;
    top: 10px;
    right: -10px;
    transform: rotateY(180deg);
    animation: animateuser 4s linear infinite;
    border-radius: 2em;
  }
  
  /*Skill set*/
  .div_skill {
    width: 100%;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .content_skill {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: max-content;
    border-radius: 2em;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 1;
    padding: 1em;
  }
  
  .skill_title {
    font-size: 2em;
    color: white;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .skill_title h1{
    display: inline-block;
    position: relative; 
    background-image: linear-gradient(to right, var(--color-1), var(--color-2));
    -webkit-background-clip: text;
    letter-spacing: 2px;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .skill_title h1::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 4px;
    background-image: linear-gradient(to left, transparent, var(--color-2), var(--color-1));
    transform: translateX(-50%);
  }
  
  .skill_img {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
    border-radius: 2em;
  }
  
  .skill_img_content {
   width: 100%;
   height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    user-select: none;
  }
  
  .skill_img_content img {
    max-width: 7em;
    max-height: 7em;
    width: 100%;
    height: 100%;
    margin: 1em 2.4em;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    padding: 1em;
    border-radius: 1em;
    user-select: none;
  }
  /*Contact me*/
  .div_contact{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .content_contact{
    width: 80%;
    height: max-content;
    display: flex;
    padding: 2em;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 1;
    margin-top: 5%;
    border-radius: 2em;
  }
  .contact_1{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1em;
  }
  .contact_1 h1{
    display: inline-block;
    position: relative; 
    background-image: linear-gradient(to right, var(--color-1), var(--color-2));
    -webkit-background-clip: text;
    letter-spacing: 2px;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  .contact_p{
    width: 90%;
    font-family:cursive;
    line-height: 2;
    font-size: 1.1em;
  }
  .contact_data{
    font-size: 1.2em;
  }
  .contact_2{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact_2 form{
    height: 50%;
    display: flex;
    width: 75%;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    padding: 2em;
    border-radius: 2em;
    
  }
  .contact_label{
    font-size: 1.5em;
  }
  .contact_input{
    padding: 0.7em;
    border-radius:0.5em ;
    margin: 1em 0;
    border: solid 1px #cccccc;
    background-color: transparent;
    outline: none;
  
  }
  .contact_input::placeholder{
  
  }
  .contact_input:focus{
    padding: 0.7em;
    border-radius:0.5em ;
    margin: 1em 0;
    border: solid 1px #cccccc !important;
    background-color: transparent;
  }
  .contact_input_large {
    font-size: 20px;
    padding: 3em;
    width: 400px;
    height: 60px;
  }
  .contact_button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 400;
    color: white;
    background-image: linear-gradient(to right, #8F01FF, #FF7C01);
    padding: 0.5em;
    margin: 20px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
  }
  .contact_button:hover {
    background-image: linear-gradient(to right, #FF7C01, #8F01FF);
  }
  /*project*/
  .div_project{
   width: 100%;
   height: 95%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding-top: 2em;
  }
  .project_title{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
  }
  .project_title h1{
    display: inline-block;
    position: relative; 
    background-image: linear-gradient(to right, var(--color-1), var(--color-2));
    -webkit-background-clip: text;
    letter-spacing: 2px;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .project_title h1::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 120%;
    height: 4px;
    background-image: linear-gradient(to left, transparent, var(--color-2), var(--color-1));
    transform: translateX(-50%);
  }
  
  .content_project{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 5%;
  }
  .project_content{
    flex-direction: column;
    display: flex;
    width: max-content;
    height: max-content;
    margin: 1em 1em;
    padding: 1em;
    border-radius: 1em;
    background: linear-gradient(-45deg, #0027FF, #00FF1B, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: gradient 15s ease infinite;
    -moz-animation: gradient 15s ease infinite;
    animation: gradient 15s ease infinite;
  }
  .project_img{
     width: 100%;
     height: 50%;
  }
  .project_img img{
    max-width: 19em;
    max-height: 13em;
    min-height: 13em;
    border-radius: 1em;
    width: 100%;
    height: 100%;

  }
  .project_p{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#292929;
  
  }
  .project_p_1{
    margin: 0.3em;
    font-size: 1.2em;

  }
  .project_p_2{
     font-size: 1em;
     margin: 0.7em;
  }
  .project_link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .project_link a{
    font-size: 1.2em;
    text-decoration: none;
    margin: 0 0.5em;
    color:#292929;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 0.5em;
    padding: 0.5em;
  }
  .project_link a:hover{
    background-image: linear-gradient(to right, #FF7C01, #8F01FF);
    color: white;
  }
  .footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #2B2B2B;
    align-items: center;
    flex-direction: column;
  }
  .footer_redes{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .footer_redes a{
    color: white;
    font-size: 1.4em;
    margin: 0.7em;
    padding: 0.2em;

  }
  .footer_redes a:hover{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
   
    border-radius:50%;
    width: 1em;
    height: 1em;
    background-color: white;
  }
  .footer_p{
    color: white;
  }
  
  /*responsive*/
  @media only screen and (max-width: 1650px) {
    .content_profile h2 {
      font-size: 2.1em;
    }
  
    .content_profile p {
      font-size: 1.6em;
      line-height: 1.5;
      letter-spacing: 0px;
    }
  
    .content_img_profile {
      width: 60%;
      height: 100%;
    }
  }
  
  @media only screen and (max-width: 1500px) {
    .content_profile h2 {
      font-size: 2em;
    }
  
    .content_profile p {
      font-size: 1.4em;
      line-height: 1.5;
      letter-spacing: 0px;
    }
  
    .content_img_profile {
      width: 60%;
      height: 100%;
    }
  
    .content_profile {
      width: 40%;
    }
    .div_skill {
      padding: 0 5%;
    }
    .content_skill {
      width: 90%;
      height: max-content;
    }
  }
  
  @media only screen and (max-width: 1200px) {
    .header-container {
      justify-content: center;
      align-items: center;
    }
  
    .small_me {
      letter-spacing: 1px;
      font-size: 1.5em;
    }
  
    .title_me {
      font-weight: 700;
      font-size: 4em;
      letter-spacing: 2px;
    }
  
    .maquina_p {
      font-size: 2.8em;
    }
  
    .header_title {
      display: flex;
      width: 35%;
      font-size: 1.2em;
    }
  
    .header_nav {
      width: 50%;
    }
  
    .content_profile h2 {
      font-size: 2em;
    }
  
    .content_profile p {
      font-size: 1.2em;
      line-height: 1.5;
      letter-spacing: 0px;
    }
  
    .content_img_profile {
      width: 70%;
      height: 100%;
    }
  
    .content_profile {
      width: 30%;
    }
    .div_skill {
      padding: 0 5%;
    }
    .content_skill {
      width: 100%;
      height: max-content;
    }
    
    .skill_title {
      font-size: 1.5em;
      height: 5%;
    }
    .skill_title h1::after{
      height: 4px;
    }
    .skill_img_content img {
      max-width: 5.5em;
      max-height: 5.5em;
      margin: 1.5em 2.5em;
    }
     /*project*/
  .div_project{
    padding-top: 2em;
   }
   .project_title{
     font-size: 1.7em;
   }
   
   .content_project{
     padding: 0 0%;
   }
   .project_content{
     margin: 0.5em 0.5em;
     padding: 0.7em;
   }
   .project_img img{
     max-width: 17em;
     max-height: 15em;
     min-height: 13em;
 
   }  
  }
  
  @media only screen and (max-width: 1000px) {
    .small_me {
      letter-spacing: 1px;
      font-size: 1.3em;
    }
  
    .title_me {
      font-weight: 700;
      font-size: 3.5em;
      letter-spacing: 2px;
    }
  
    .maquina_p {
      font-size: 2.4em;
    }
  
    .btns button {
      font-size: 1.2em;
      letter-spacing: 1px;
    }
  
    .content_profile h2 {
      font-size: 1.8em;
    }
  
    .content_profile p {
      font-size: 1.2em;
      line-height: 1.3;
      letter-spacing: 0px;
    }
  
    .div_profile {
      padding: 0 3%;
    }
      
    .skill_title {
      font-size: 1.5em;
      height: 5%;
    }
    .skill_title h1::after{
      height: 4px;
    }
    .skill_img_content img {
      max-width: 5em;
      max-height: 5em;
      margin: 1.5em 2.0em;
    }
         /*project*/
  .div_project{
    padding-top: 2em;
   }
   .project_title{
     font-size: 1.3em;
   }
   
   .content_project{
     padding: 0 0%;
   }
   .project_content{
     margin: 0.3em 0.5em;
     padding: 0.6em;
   }
   .project_img img{
     max-width: 14em;
     max-height: 10em;
     min-height: 10em;
 
   }
  .project_p_1{
    margin: 0.2em;
    font-size: 1em;

  }
  .project_p_2{
     font-size: 0.8em;
     margin: 0.6em;
  }
   .project_link a{
     font-size: 1em;
     margin: 0 0.4em;
     padding: 0.5em;
   }
  }
  
  @media only screen and (max-width: 790px) {
    .small_me {
      letter-spacing: 1px;
      font-size: 1.1em;
    }
  
    .title_me {
      font-weight: 700;
      font-size: 3em;
      letter-spacing: 2px;
    }
  
    .maquina_p {
      font-size: 2em;
    }
  
    .btns button {
      font-size: 1em;
      letter-spacing: 1px;
    }
  }
  
  @media only screen and (max-width: 778px) {
    .header-container {
      padding: 15px 15px;
    }
  
    .header_title {
      font-size: 1.2em;
    }
  
    .small_me {
      letter-spacing: 1px;
      font-size: 1.5em;
    }
  
    .title_me {
      font-weight: 700;
      font-size: 2em;
      letter-spacing: 2px;
    }
  
    .maquina_p {
      font-size: 2em;
    }
  
    .header_nav {
      display: none;
    }
  
    .div_main {
      width: 100%;
      padding: 0 5%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  
    .content_me {
      width: 100%;
      height: 50%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      font-family: Arial, Helvetica, sans-serif;
  
    }
  
    .btns {
      width: 100%;
      position: relative;
    }
  
    .btns button {
      font-size: 1em;
      letter-spacing: 1px;
    }
  
    .content_img {
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
  
    .content_img img {
      height: 100%;
      width: 80%;
      top: 70px;
      right: 10px;
    }
  
    @keyframes animateuser {
      50% {
        right: 0px;
        top: 60px;
      }
    }
  
    .icon {
      display: flex;
      font-size: 1em;
      color: white;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
      width: 60%;
      cursor: pointer;
    }
  
    .nav_responsive {
      display: flex;
      flex-direction: column;
    }
  
    .header_ul_responsive {
      width: 100%;
      left: -120%;
      top: 3.7em;
      overflow: hidden;
      transition: all 0.7s ease-in;
      display: flex;
      background-color: white;
      width: 100%;
      height: 100vh;
      flex-direction: column;
      position: absolute;
      color: white;
      z-index: 1000;
      padding: 0;
    }
  
    .activo {
      left: 0 !important;
    }
  
    .header_li_responsive {
      text-decoration: none;
      display: flex;
      width: 100%;
      margin: 1.5em 0em;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      font-size: 1.4em;
    }
    .header_li_responsive :hover{
      align-items: center;
      justify-content: center;
      display: flex;
    }
  
  
    .header_a_resposive:hover {
      background-image: linear-gradient(to right, #8F01FF, #FF7C01);
      width: 100%;
      color: white;
    }
  
    .header_a_resposive {
      padding: 0.5em;
      text-decoration: none;
      color: black;
      letter-spacing: 2px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .header_a_resposive svg{
     margin-right: 0.5em;
    }
  
    /* profile responsive*/
    .div_profile {
      padding: 0 8%;
      flex-direction: column;
      padding-top: 0em;
      margin-bottom: 2%;
    }
  
    .content_profile {
      height: 40%;
      width: 100%;
      margin-top: 3em;
      padding: 8px 16px;
    }
  
    .content_profile h2 {
      display: none;
    }
  
    .profile_responsive {
      font-size: 1.5em;
      width: 100%;
      height: max-content;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: linear-gradient(to right, var(--color-1), var(--color-2));
      -webkit-background-clip: text;
      letter-spacing: 2px;
      -moz-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  
    .content_profile p {
      font-size: 1em;
      font-family: 'Open Sans', sans-serif;
      line-height: 1.3;
      letter-spacing: 0.2px;
  
    }
  
    .content_img_profile {
      height: 50%;
      width: 100%;
    }
  
    .content_img_profile img {
      position: relative;
      height: 100%;
      width: 80%;
      top: 10px;
      left: 0;
      transform: rotateY(180deg);
      animation: animateprofile 4s linear infinite;
      border-radius: 2em;
    }
  
    @keyframes animateprofile {
      50% {
        left: -10px;
        top: 5px;
      }
    } 
    /*contact responsive*/
    .content_contact{
      width: 80%;
      height: max-content;
      flex-direction: column;
      padding: 1em;
      margin-top: 0;
      margin-top: 10%;
  
    }
    .contact_1{
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 1em;
    }
    .contact_1 h1{
      font-size: 1.2em;
      margin: 0.3em 0;
    }
    
    .contact_p{
      width: 100%;
      line-height: 1.1;
      font-size: 1em;
      margin: 0.5em 0;
    }
    .contact_data{
      font-size: 1em;
      margin: 0.3em 0;
    }
    .contact_2{
      width: 100%;
      height: 50%;
    }
    .contact_2 form{
      height: max-content;
      width: 85%;
      background-color: rgba(255, 255, 255, 0.5);
      padding: 1.5em;
    }
    .contact_label{
      font-size: 1.1em;
    }
    .contact_input{
      padding: 0.6em;
      margin: 1em 0;
      border: solid 1px #cccccc;
      background-color: transparent;
      outline: none;
    
    }
    .contact_input::placeholder{
      
    }
    .contact_input:focus{
      padding: 0.6em;
      margin: 1em 0;
    }
    .contact_button{
      font-size: 1.3em;
      padding: 0.4em;
      margin: 10px 5px;
    }
    .project_img img{
     max-width: 14em;
     max-height: 8.5em;
     min-height: 8.5em;
 
   }
    .project_p_1{
      margin: 0.2em;
      font-size: 1em;
  
    }
    .project_p_2{
       font-size: 0.8em;
       margin: 0.6em;
    }
  }
  @media only screen and (max-width: 603px) {
    .div_skill {
      
      padding: 0 3%;
    }
    .content_skill {
      margin-top: 2em;
      width: 100%;
      padding: 1em;
      height: max-content;
    }
    
    .skill_title {
      font-size: 1em;
      height: 5%;
    }
    .skill_title h1::after{
      height: 3px;
    }
    .skill_img_content img {
      max-width: 3.5em;
      max-height:3.5em;
      margin: 0.5em 0.5em;
    }
           /*project*/
  .div_project{
    padding-top: 1em;
   }
   .project_title{
     font-size: 1em;
   }
   
   .content_project{
     padding: 0 0%;
   }
   .project_content{
     margin: 0.3em 0.3em;
     padding: 0.4em;
   }
   .project_img img{
     max-width: 11em;
     max-height: 6em;
     min-height: 6em;
 
   }
   .project_p_1{
    margin: 0.2em;
    font-size: 0.8em;

  }
  .project_p_2{
     font-size: 0.7em;
     margin: 0.6em;
  }
   .project_link a{
     font-size: 0.9em;
     margin: 0 0.4em;
     padding: 0.3em;
   }
  }
  @media only screen and (max-width: 390px) {
    .div_skill {
      
      padding: 0 2%;
    }
    .skill_title {
      font-size: 0.9em;
      height: 5%;
    }
    .skill_title h1::after{
      height: 3px;
    }
    .skill_img_content img {
      max-width: 2.5em;
      max-height:2.5em;
      margin: 0.3em 0.3em;
      width: 100%;
      height: 100%;
    }
           /*project*/
  .div_project{
    padding-top: 3em;
   }
   .project_title{
     font-size: 0.8em;
   }
   
   .content_project{
     padding: 0 0%;
   }
   .project_content{
     margin: 0.3em 0.3em;
     padding: 0.4em;
   }
   .project_img img{
     max-width: 8em;
     max-height: 5em;
     min-height: 5em;
 
   }
   .project_p_1{
    margin: 0.2em;
    font-size: 0.6em;

  }
  .project_p_2{
     font-size: 0.5em;
     margin: 0.2em;
  }
   .project_link a{
     font-size: 0.6em;
     margin: 0 0.3em;
     padding: 0.3em;
   }
   /*profile responsive*/
      .div_profile {
        padding: 0 8%;
        margin-bottom: 2%;
      }
    
      .content_profile {
        margin-top: 2em;
        padding: 8px 16px;
      }
    
      .content_profile h2 {
        display: none;
      }
    
      .profile_responsive {
        font-size: 1.1em;
      }
    
      .content_profile p {
        font-size: 0.8em;
        line-height: 1.4;
      }
      .footer_redes a{
        margin: 0.5em;
      }
  }